{% extends 'base.html' %}

{% block content %}
<div class="cart-container">
    <h1>Your Shopping Cart</h1>

    {% if cart_items %}
        <div class="cart-items">
            {% for cart_item in cart_items %}
                <div class="cart-item">
                    <img src="{{ cart_item.item.image.url }}" alt="{{ cart_item.item.name }}" class="cart-item-image">

                    <div class="cart-item-details">
                        <h3>{{ cart_item.item.name }}</h3>
                        <p class="item-type">{{ cart_item.item.get_item_type_display }}</p>
                        <p class="item-condition">Condition: {{ cart_item.item.get_condition_display }}</p>
                        <p class="item-price">
                            {% if cart_item.item.price %}
                                Price:{{ cart_item.item.price }}
                            {% else %}
                                Free
                            {% endif %}
                        </p>
                    </div>
